# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/Flutter/ephemeral/
macos/Pods/
macos/Flutter/ephemeral/
*.iml
.idea/
.DS_Store

# Temporary & Helper Scripts
node_modules/
node.exe
npm*
npx*
nodevars.bat
run_chrome.bat
run.bat
