.dart_tool/
.packages
.pub/
build/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/Flutter/ephemeral/
macos/Pods/
*.iml
.idea/
.DS_Store

# Windows Flutter Swift PM workaround backups
.ios_backup/
.macos_backup/

# Node temporary files
node_modules/
node.exe
npm
npm.cmd
npm.ps1
npx
npx.cmd
npx.ps1
nodevars.bat
run_chrome.bat

